/* Title Article Style */

.article-title {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 4.5vw;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .article-title {
      font-size: 7.5vw;
    }
  }
  
  @media (max-width: 576px) {
    .article-title {
      font-size: 7.5vw;
    }
  }
  
  @media (max-width: 480px) {
    .article-title {
      font-size: 10vw;
    }
  }
  
  /* UnderTitle Style */
  
  .article-undertitle {
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
  }

  @media (max-width: 768px) {
    .article-undertitle {
      font-size: 3vw;
    }
  }
  
  @media (max-width: 576px) {
    .article-undertitle {
      font-size: 3.5vw;
    }
  }
  
  @media (max-width: 480px) {
    .article-undertitle {
      font-size: 4vw;
    }
  }

  /* Flag Icons */

  /* .img-flag {
    max-width: 100%;
    height: auto;
  } */
  
  /* @media (max-width: 770px) {
    .img-flag {
      width: 30px;
      height: 30px;
    }
  }
  
  @media (max-width: 360px) {
    .img-flag {
      width: 30px;
      height: 30px;
    }
  } */